<footer class="footer">
  <small>
    <strong><a href="https://udemy-rails-spencercodes.c9users.io/">&copy 2017</a></strong>
    by <em><a href="https://udemy-rails-spencercodes.c9users.io/">Spencer Toyne</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>