<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% flash.each do |name, msg| %><%#This do block tells Ruby to display the flash message.%>
      <div class="alert alert-<%= name %>">
        <a href="#" class="close" data-dismiss="alert">&#215;</a><%#This line adds an X link to close success flash message.%>
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>